<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid notranslate">
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
       
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="jobsearch.html">Job Advertisements</a>
        </li>

        
         <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="cv.html">CV</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="cv.html" role="button" data-bs-toggle="dropdown"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="cvvocab">CV-Vocabulary</a></li>
            <li><a class="dropdown-item" href="cvwriting">Write your own CV!</a></li>
          </ul>
        </li> 
          
           <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="applicationletter.html">Application Letter</a>
        </li>
            
           <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="jobinterview.html">Job Interview</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="jobinterview.html" role="button" data-bs-toggle="dropdown"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="daybefore">The day before the interview</a></li>
            <li><a class="dropdown-item" href="interview">The job interview</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
 </nav>
